p State Archive of the Russian Federation
p Russian State Archive of Socio-Political History
p Federal Protective Service
p Russian State Military Archive
p Central Archive of the Russian Ministry of Defence
p Sokolovsky Family Archives
p Russian Orthodox Church
p The State Historical Museum
p The State Central Museum of Contemporary History of Russia
p The State Historical Museum-Reserve “Gorki Leninskie”
p The Glinka National Museum Consortium of Musical Culture
p Central Museum of the Armed forces of the Russian Federation
p The State Central Film Museum
p The State Memorial Musical Museum-Reserve of P.I. Tchaikovsky
p Central Museum of the Great Patriotic War of 1941-1945
p A.A. Bakhrushin State Central Theatre Museum
p Central Border Museum of the Russian Federal Security Service
p Central Club of the Ministry of Internal Affairs of Russian Federation
p Central Museum of the Ministry of Emergency Situations of Russia
p The State Academic Bolshoi Theatre of Russia
p The State Academic Central Puppet Theatre. SV Obraztsova
p The Museum of Moscow
p Museum-Estate "Ostankino"
p The Museum of Zelenograd
p The Museum of History of Tank T-34
p Multimedia Art Museum, Moscow
p Museum-Panorama «The Battle Of Borodino»
p The Nikolay Ostrovsky state museum - humanitarian center “Overcoming” in the name of Nikolay Ostrovsky
p Moscow zoo
p The museum and park complex "Northern Tushino"
p Museum of the History of Airborne Troops
p Museum Exhibition Complex "New Jerusalem"
p Serpukhov History and Art Museum
p Historical, Architectural, Artistic and Archaeological Museum "Zaraysk Kremlin"
p State Literary-Memorial Museum-Reserve A. P. Chekhov "Melikhovo"
p The Gnesins Russian Academy of Music
p I.M. Sechenov First Moscow State Medical University
p Gymnasium №201 of the Order of the Red Banner named Heroes of the Soviet Union Zoya and Alexander Kosmodemyanskiy
p Moscow Artists Union
p Charity Fund «Russian Jewish Congress»
p Museum of the Moscow Railway