//- Неразрывный дефис - &#8209;
//- Неразрывный пробел - &#160;

p Государственный архив Российской Федерации
p Российский государственный архив социально-политической истории
p Федеральная служба охраны Российской Федерации
p Российский государственный военный архив
p Центральный архив Министерства обороны Российской Федерации
p Семейный архив Соколовских
p Российская Православная Церковь
p Государственный исторический музей
p Государственный центральный музей современной истории России
p Государственный исторический музей-заповедник “Горки Ленинские”
p Всероссийское музейное объединение музыкальной культуры им. М.И. Глинки
p Центральный музей Вооруженных сил Российской Федерации
p Государственный центральный музей кино
p Государственный мемориальный музей-заповедник П.И. Чайковского
p Центральный музей Великой Отечественной Войны 1941-1945гг.
p Государственный центральный театральный музей им. А.А. Бахрушина
p Центральный пограничный музей Федеральной службы Безопасности Российской Федерации
p Центральный клуб Министерства внутренних дел Российской Федерации
p Центральный музей Министерства чрезвычайных ситуаций России
p Государственный академический Большой театр России
p Государственный академический Центральный театр кукол им. С.В. Образцова
p Музей Москвы
p Музей-усадьба “Останкино”
p Музей Зеленограда
p Музей - мемориальный комплекс “История танка Т-34”
p Мультимедийный комплекс актуальных искусств
p Музей-панорама “Боридирская битва”
p Государственный музей - гуманитарный центр “Преодоление” им. Н.А. Островского
p Московский зоопарк
p Музейно-парковый комплекс “Северное Тушино”
p Музей истории воздушно-десантных войск
p Музейно-выставочный комплекс “Новый Иерусалим”
p Серпуховской историко-художественный музей
p Историко-архитектурный, художественный и археологический музей “Зарайский Кремль”
p Государственный литературно-мемориальный музей-заповедник А.П. Чехова “Мелихово”
p Российская академия музыки им. Гнесиных
p Первый Московский государственный медицинский университет им. И.М. Сеченова Министерства здравоохранения России
p Гимназия №201 ордена Трудового Красного Знамени имени Героев Советского Союза Зои и Александра Космодемьянских
p Московский союз художников
p Благотворительный фонд “Российский еврейский конгресс”
p Музей железнодорожного транспорта