.schedule-item
	.schedule-date 28.01.2016
	.schedule-events

		.schedule-event
			.event-title Встреча с ветеранами
			.event-description В канун Дня Победы в Центральном музее Вооружённых Сил выставили подлинное знамя Победы, водружённое в 1945 году над рейхстагом. Ранее в музее экспонировалась копия реликвии. На церемонии открытия экспозиции «Знамя Победы» выступил Дмитрий Медведев. Главными гостями церемонии стали ветераны Великой Отечественной войны, сослуживцы Михаила Егорова и Мелитона Кантарии.

.schedule-item
	.schedule-date 26.01.2016
	.schedule-events

		.schedule-event
			.event-title Первая победа
			.event-description В канун Дня Победы в Центральном музее Вооружённых Сил выставили подлинное знамя Победы, водружённое в 1945 году над рейхстагом. Ранее в музее экспонировалась копия реликвии. На церемонии открытия экспозиции «Знамя Победы» выступил Дмитрий Медведев. Главными гостями церемонии стали ветераны Великой Отечественной войны, сослуживцы Михаила Егорова и Мелитона Кантарии.

		.schedule-event
			.event-title Зенитные орудия
			.event-description В канун Дня Победы в Центральном музее Вооружённых Сил выставили подлинное знамя Победы, водружённое в 1945 году над рейхстагом. Ранее в музее экспонировалась копия реликвии. На церемонии открытия экспозиции «Знамя Победы» выступил Дмитрий Медведев. Главными гостями церемонии стали ветераны Великой Отечественной войны, сослуживцы Михаила Егорова и Мелитона Кантарии.

.schedule-item
	.schedule-date 22.01.2016
	.schedule-events

		.schedule-event
			.event-title Священная война
			.event-description В канун Дня Победы в Центральном музее Вооружённых Сил выставили подлинное знамя Победы, водружённое в 1945 году над рейхстагом. Ранее в музее экспонировалась копия реликвии. На церемонии открытия экспозиции «Знамя Победы» выступил Дмитрий Медведев. Главными гостями церемонии стали ветераны Великой Отечественной войны, сослуживцы Михаила Егорова и Мелитона Кантарии.

		.schedule-event
			.event-title Священная война
			.event-description В канун Дня Победы в Центральном музее Вооружённых Сил выставили подлинное знамя Победы, водружённое в 1945 году над рейхстагом. Ранее в музее экспонировалась копия реликвии. На церемонии открытия экспозиции «Знамя Победы» выступил Дмитрий Медведев. Главными гостями церемонии стали ветераны Великой Отечественной войны, сослуживцы Михаила Егорова и Мелитона Кантарии.

.schedule-item
	.schedule-date 12.01.2016
	.schedule-events

		.schedule-event
			.event-title Священная война
			.event-description В канун Дня Победы в Центральном музее Вооружённых Сил выставили подлинное знамя Победы, водружённое в 1945 году над рейхстагом. Ранее в музее экспонировалась копия реликвии. На церемонии открытия экспозиции «Знамя Победы» выступил Дмитрий Медведев. Главными гостями церемонии стали ветераны Великой Отечественной войны, сослуживцы Михаила Егорова и Мелитона Кантарии.
