.data-title Москва накануне войны. 22 июня 1941 года

.data-description
	div: i «Это неслыханное нападение на нашу страну является беспримерным в истории цивилизованных народов вероломством»
	p: i Из выступления наркома иностранных дел В.М. Молотова 22 июня 1941 года

	p Известие о вероломном нападении фашистской Германии на нашу Родину не застало москвичей врасплох. Уже через полтора часа после начала войны к первому секретарю МГК А.С. Щербакову были срочно вызваны все секретари райкомов партии Москвы. Собравшимся сообщили о нападении фашистов на СССР и предложили немедленно известить об этом партийных работников, руководителей предприятий и учреждений столицы. 22 июня в 12 часов дня по радио было передано обращение Коммунистической партии и Советского правительства к народу. В тот же день на предприятиях, в учреждениях, учебных заведениях Москвы прошли многолюдные митинги и собрания. Уже в первый день войны москвичи сделали все возможное, чтобы подготовиться к этой трудной и тяжелой борьбе.

.data-images