.data-title Можайско-Малоярославецкая оборонительная операция. Авиагруппа Н.А. Сбытова

.data-description
	div: i «Поступил приказ Сталина: задержать наступление немцев любой ценой минимум на 5-7 суток. А чем задерживать, неизвестно… На пути немцев мы смогли поставить только тех же подольских курсантов и мои самолеты, штурмовавшие наступающие немецкие войска по нескольку раз в день»
	p: i Из воспоминаний командующего авиацией Московского военного округа Н.А. Сбытова

	p Рано утром 5 октября воздушная разведка ВВС Московского военного округа (МВО) обнаружила передвижение прорвавшихся танковых и моторизованных дивизий врага в направлении на Юхнов. Военный совет округа принял решение уничтожить фашистские колонны всеми имеющимися силами. Вся авиация была брошена на выполнение поставленной задачи. По указанию Ставки, на базе ВВС МВО была создана авиационная группа под командованием полковника Н.А. Сбытова. Авиагруппа действовала на Можайской линии обороны Западного фронта. 8-19 октября группа произвела 508 самолето-вылетов. В результате было выведено из строя несколько танков противника, сотни автомашин, взорвано 3 склада боеприпасов, разрушено 5 мостов и переправ, рассеяно и уничтожено до двух батальонов пехоты. Авиационная группа Сбытова оказала поддержку войскам 5-й армии, особенно в период их развертывания. Летчики выполняли полеты в сложных метеоусловиях зачастую на высотах всего 100-150 м и при горизонтальной видимости 600-800 м. Чтобы сократить радиус действия и увеличить количество вылетов, а также не осложнять работу системы ПВО по опознанию пролетающих самолетов, ночные экипажи группы Сбытова перебазировались на полевой аэродром, что позволило повысить интенсивность боевых действий ночью.

.data-images