.data-title Парад на Красной площади

.data-description
	div: i «На вас смотрит весь мир как на силу, способную уничтожить грабительские полчища немецких захватчиков. Великая освободительная миссия выпала на вашу долю. Будьте же достойны этой миссии!»
	p: i Из речи И.В. Сталина на параде 7 ноября 1941 года

	p Шел пятый месяц Великой Отечественной войны. Красная Армия, оказывая упорное сопротивление врагу, с тяжелыми боями вынуждена была отступать. Немецкие войска оккупировали Литву, Латвию, Эстонию, Белоруссию, большую часть Украины, Молдавию, ряд западных областей России, блокировали Ленинград и угрожали Москве. 30 сентября 1941 года гитлеровцы развернули генеральное наступление на Москву. Государственный Комитет Обороны с 20 октября объявил столицу и прилегающие к ней районы на осадном положении. Оборона на рубежах, отстоящих на 100-120 км западнее Москвы, была поручена командующему войсками Западного фронта генералу армии Г.К. Жукову. На начальника гарнизона Москвы генерал-лейтенанта П.А. Артемьева возлагалась оборона города на ближних подступах. Бои на московском направлении не затихали ни днем, ни ночью. К началу ноября войска группы армий «Центр» находились в 80-110 километрах от центра столицы.
	p В обстановке суровых испытаний встречал советский народ 24-ю годовщину Великой Октябрьской социалистической революции, в то время – главный праздник в стране. В 18 часов 6 ноября были включены все радиостанции Советского Союза:
	p: i «Говорит Москва! Передаем торжественное заседание Московского Совета с представителями трудящихся города и доблестной Красной Армии, посвященное 24-й годовщине Великой Октябрьской социалистической революции…»
	p В тот день состоялось торжественное заседание Московского Совета депутатов трудящихся совместно с партийными и общественными организациями столицы.
	p Поистине потрясающее впечатление на граждан нашей страны и всего мира произвел парад войск Московского гарнизона на Красной площади 7 ноября! Вопреки сложившейся тогда традиции, речь произнес не принимающий парад (Маршал Советского Союза С.М. Буденный), а сам Верховный Главнокомандующий И.В. Сталин. В его речи были такие слова:
	p: i «Разве можно сомневаться в том, что мы можем и должны победить немецких захватчиков?»
	p По силе воздействия на ход дальнейших событий этот парад приравнивается к военной операции. Журналист-международник Лев Безыменский в книге «Особая папка Барбаросса» отметил:
	p: i «…Каждый раз, когда заканчивался очередной поход вермахта, берлинская кинокомпания «Уфа» поспешно создавала соответствующий документальный фильм. Польша и Франция, Норвегия и Греция должны были, как бы во второй раз переживать свой позор, когда на экране возникал хищный орел – эмблема кинокомпании. Многие кадры из этих фильмов стали «хроникальной классикой»: польские пограничные столбы, сброшенные на землю; Гитлер, пританцовывающий перед салон-вагоном в Компьене, где предстояло подписание французской капитуляции; немецкие солдаты, совершающие туристическую прогулку по афинскому Акрополю…
	p: i Поздней осенью 1941 года «Уфа» переживала большие затруднения. Уже пора было создавать очередной фильм – на сей раз о победе над Советским Союзом. Шел пятый месяц войны, и по всем расчетам Геббельса, лично опекавшего немецкую кинематографию, дивизии фельдмаршала фон Бока уже должны были войти в Москву – тем более что 2 октября началось наступление, которое считалось последним. Время для выпуска фильма, который должен был потрясти мир, явно созрело. Начиная с 22 июня 1941 года фронтовые операторы наснимали достаточное количество однообразных, но эффектных кадров. Не хватало лишь одного – финальной сцены. Фильм о походе против Польши завершался парадом в Варшаве, фильм «Победа на Западе» венчался маршем по Парижу, и само собой разумелось, что фильм «Поход на Восток» должен был завершаться парадом победоносных полков вермахта на Красной площади. Но вот беда – именно эти кадры не были сняты. По простой причине: Москву не взяли. Что делать…»
	p
		span Войска шли в полном походном снаряжении. Пехотинцы – с патронными подсумками, малыми саперными лопатками, противогазами. Многие боевые подразделения после парада уходили прямо на фронт. Летчики-истребители, дежурившие на аэродромах, дали клятву не допустить, чтобы в этот день немецкие самолеты сбросили бомбы на Москву.
		span: i «Не пропустим к Москве! Если нужно, будем таранить»,
		span – заявили они.
	p За несколько минут до 8.00 7 ноября на весь мир в эфире прозвучал знакомый голос Ю. Левитана:
	p: i «Внимание, внимание! Говорят все радиостанции Советского Союза. Центральная радиостанция Москвы начинает передачу с Красной площади парада частей Красной Армии, посвященного 24-й годовщине Великой Октябрьской социалистической революции…».
	p
		span Беспримерный в истории военный парад оказал огромное влияние на морально-политическое состояние советского народа, Красной армии и флота. Многие за рубежом убедились в решимости советских людей отстоять Москву.
		span: i «Организация в Москве обычного традиционного парада,
		span – писала английская газета «Ньюскроникл», –
		span: i в момент, когда на подступах к городу идут жаркие бои, представляет собой великолепный пример мужества и отваги…»
	p За линией фронта передавались из рук в руки сброшенные самолетами газеты с отчетами о торжественном заседании Московского Совета и о параде на Красной площади. Они были доказательством того, что распространяемые гитлеровцами и их пособниками слухи о взятии Москвы – ложь…
	p Парад 7 ноября 1941 года, проведенный в самый тяжелый для Родины момент, был предвестником нашей великой Победы 9 мая 1945 года. Сегодня 7 ноября – это День воинской славы России, когда отмечается очередная годовщина того памятного события:
	p
		div: i Слышится нам эхо давнего парада,
		div: i Снятся нам маршруты давнего броска.
		div: i Ты – моя надежда, ты – моя отрада,
		div: i В сердце у солдата ты, моя Москва.
		div: i Мы свою победу выстрадали честно,
		div: i Преданы святому кровному родству,
		div: i В каждом новом доме, в каждой новой песне,
		div: i Помните ушедших в битву за Москву!

.data-images