.data-title Повседневная жизнь

.data-description
	div: i «…Введены карточки на получение жизненных продуктов с весьма скудными порциями продуктов. Хлеб, я (пенсионер) получаю 400 гр. в день; сахар 1000 гр. в месяц; крупа 1000 гр. в месяц. Масло 200 гр. в месяц; рыбы 500 гр. в месяц; мяса 600 гр. в месяц. Все бросились закупать свои месячные порции и создались в первые дни бесконечные хвосты, но что непонятно очереди за хлебом до сегодня громадные. Хвосты тянуться по улице далеко за дверями магазинной и так целый день. Все эти дни по улицам можно наблюдать многочисленные группы детей, которых усиленно эвакуируют из Москвы. Эвакуируются и много учреждений и множество желающих отдельных лиц и семейств. Говорят об общей эвакуации, но это пустая болтовня. На улицах заметно меньше народа. Только в часы прихода на службу и вечерами во время возвращения домой заметно большое движение, а днем на улицах довольно пустынно. Одновременно со введением карточек появились магазины, продающие товары без предъявления карточек; но что там за цены! Масло сливочное 45-50 р. кило; колбасные товары 40-50 р. кило. Но такие цены только на такие продукты, которые выдаются по картам, а прочее в прежней цене. Чай 2р50-4р. кофе 12р50 коп…»
	p: i Из дневника Николая Петровича Сырейщикова 1941-1945 гг.

	p В ходе войны размеры норм снабжения населения г. Москвы продовольственными товарами неоднократно менялись. Так, с 16 января 1942 года нормы снабжения населения Москвы хлебом были снижены: для рабочих – до 600 г, для служащих – до 500 г в день.
	p В целях экономии топлива на отопительный сезон 1941/42 года для жилых домов был установлен температурный режим +16 ºС. Также в целях экономии электроэнергии с ноября были установлены нормы освещения для жилых помещений – не более 3 Вт на 1 м² площади (то есть одна 40-ваттная лампа на комнату), для кухонь – одна 25-ваттная лампа. С января 1942 года снабжение жилых домов электроэнергией и теплом было прекращено. Температура в помещениях падала до 5-7 ºС.
	p Московский метрополитен работал в качестве транспорта с 5:30 до 20:00.

.data-images