.data-title 12

.data-description
	div: i “This attack on our country is the treachery unprecedented in civilized history”
	p: i From the address of the People’s Commissar of Foreign Affairs Vyacheslav Molotov on 22 June 1941

	p The news of Nazi Germany attack on the USSR did not take Moscovites unawares. Just an hour and a half after the announcement of war Moscow Party Leader Shcherbakov urgently summoned all Moscow district party secretaries. The meeting were informed of Nazi attack on the USSR and instructed to immediately so advise party functionaries, enterprise and institution heads of the capital. At 12 p.m. of June 22 radio transmitted an address of the Communist Party and the USSR Government to the people. On the very same day meeting were held at enterprises, institutions and educational institutions of Moscow. On the very first day Moscovites did anything possible to get ready for a hard fight.

.data-images