.data-title 2

.data-description
	div: i “The entire world is looking at you as the force capable of destroying devastating hordes of German invaders. You are bechanced by a great liberatory mission. So be worthy of that mission!”
	p: i From the speech of Joseph Stalin at the parade of 7 November 1941

	p It was the fifth month of the Great Patriotic War. The Red Army had to retreat waging fierce battles. German troops occupied Lithuania, Latvia, Estonia, Byelorussia, most of Ukraine, Moldavia, some western regions of Russia, besieged Leningrad and threatened Moscow. On September 30, 1941 the Nazis launched a general assault on Moscow. The State Defense Committee as of 20 October proclaimed a state of siege in the capital and adjacent areas. Defense of the lines 100-120 km west of Moscow was vested in the commander of Western Front troops Army General Georgy Zhukov. Moscow Garrison Commander Lieutenant General P. Artemiev was charged with City close-in defense. Combat activities at the Moscow direction were going on day and night. By the beginning of November the Central Army Group was dislocated within 80-110 kilometers from the center of the capital.
	p The people of the Soviet Union celebrated the 24th Anniversary of October Revolution, the principal national holiday at the time, in a state of severe trials. At 6 p.m. on November 6 all radio stations of the Soviet Union went on air with a broadcast from Moscow of the gala session of the Moscow Council with representatives of citizens and the Red Army, party and public organizations of the capital dedicated to the 24th Anniversary of October Revolution.
	p The citizens of the Soviet Union and the entire world were deeply impressed by the Moscow Garrison parade in the Red Square on November 7. In spite of the tradition the speech was delivered not by the parade commander Marshal Semyon Budenny but by the Supreme Commander Joseph Stalin. He incidentally said:
	p: i “Is there any doubt that we can and must defeat the German invaders?”
	p By its impact on subsequent events that parade is equated to a military operation. International journalist Leo Bezymensky pointed out in his book “Special Barbarossa File”: “… Each time yet another Wehrmacht campaign ended the Berlin Cinema Company “Ufa” would hastily produce a corresponding documentary. Poland and France, Norway and Greece were ostensibly expected to relive their disgrace as the predatory hawk, the emblem of the company, appeared on the screen Many episodes of these films have turned into “documentary classics”: polish border landmarks turned down; Hitler waltzing at the parlor coach in Compiegne where capitulation of France was to be signed; German soldiers touring the Athens Acropolis…
	p In the late autumn of 1941 “Ufa” was in trouble. It was time to make yet another movie – about victory over the Soviet Union. The fifth month of the war was drawing on and according to all calculations of Goebbels who personally attended to German cinema industry the divisions of Marshal Von Bock were to have long entered Moscow, the more so since on October 2 an onslaught had started which was considered final. The time to produce a film to shake the world was obviously ripe. Since 22 June 1941 war cameramen shot enough monotonous but spectacular sequences. Just one was missing – the final scene. The film about the Polish campaign ended with the Warsaw parade, the film “Victory in the West” culminated in a march through Paris; and it was taken for granted that the film “The Eastern Campaign” was to end with a parade of victorious Wehrmacht troops in the Red Square. But the trouble was that right these sequences were not shot for a very simple reason: Moscow was not conquered. What to do…”
	p
		span The Soviet troops paraded in full marching pack. The infantry – with ammunition cases, pioneer spades and gas masks. Many fighting units marched from the parade right to the frontline. Fighter pilots on duty in airfields gave a solemn oath not to let German airplanes drop bombs on Moscow on that day.
		i “We will not let them to Moscow! If need be we are going to batter them down”,
		span – they said.
	p A few minutes before 8.00 a.m. on November 7 the whole world heard the familiar voice of radio announcer Yury Levitan:
	p: i “Attention please! All radio stations of the Soviet Union are on air. The Central Radio Station of Moscow starts to broadcast from the Red Square the parade of Red Army units dedicated to the 24th Anniversary of the Great October Socialist Revolution…”
	p
		span That unparalleled in history military parade produced a tremendous effect on the morale of all Soviet people, the Red Army and Navy. Many people abroad got convinced that the Soviet people were determined to stand up for Moscow.
		i “Arrangement in Moscow of the traditional parade, – British “News Chronicle” wrote, – as fierce battles are being waged at the close approaches to the city is an outstanding example of courage and valor…”
	p Over the frontline people distributed air-dropped newspapers with reports of the gala session of the Moscow Council and the parade in the Red Square. Those were a proof that the rumors proliferated by the Nazis and their henchmen that Moscow had been captured were lies…
	p The parade on November 7, 1941 conducted at the hardest moment for the country heralded the great victory of 9 May 1945. Today November 7 is the Military Glory Day of Russia when anniversary of that memorable day is celebrated:
	div: i We are hearing the echo of the long past parade,
	div: i We are dreaming of the plans of the march of old.
	div: i You are my hope, you are my glory,
	div: i Moscow, you are in the soldier’s heart.
	div: i We have fought for our victory hard,
	div: i We are committed to sacred blood kinship,
	div: i In every new house, in every new song,
	div: i Remember those who left for the battle of Moscow!


.data-images