.data-title 22

.data-description
	div: i “The Battle of Moscow brought German troops the first major defeat in the World War II. This happened partly because they did not know either the Russian people, or the more so the Russian soldier. They did not have the slightest idea of the geographical conditions in Russia and the endurance of the Russian soldier, but at the same time ignored the repeated warnings of renown military experts on Russia. Taking this fateful decision, Germany had lost the war”
	p: i From the memoirs of the Chief of Staff of the 4 th German Army General G. Blyumentritt

	p In early December 1941, the German soldiers and officers were already examining through the field glasses, artillery and tank sights the streets of Moscow. Meanwhile, the Soviet counteroffensive, developing continuously, from January 8 1942 had grown into the general offensive of the Red Army. The troops of the "Center" Group of armies suffered a major defeat, they were driven from the capital by 150-350 km. The German fascist invaders were completely expelled from Moscow, Tula and parts of other regions. More than 11 thousand. inhabited localities, including more than 60 cities were liberated from the enemy.
	p The enemy paid a dear price for “the failed victory”. Never before did German Nazism face a crisis of this scope. In his book "Memories and Reflections" G.K. Zhukov wrote:
	p: i “…the Red Army in the Battle of Moscow for the first time over the six months of the war inflicted a major defeat on the main group of the Nazi troops. Prior to this, the Soviet Armed Forces had implemented a number of major operations, which slowed down the advance of the Wehrmacht on all three main directions of the attack. However, in terms of scope and results they were inferior to the great battle at the walls of the Soviet capital. Skillful waging of defensive battles, successful implementation of counter-attacks and quick return to the offensive enriched Soviet military art, showed the increased strategic and operational-tactical maturity of Soviet military leaders, the growth of combat experience of soldiers of all arms. The outcome of the Battle of Moscow and the winter offensive of the Red Army became the evidence that the Hitlerite troops were unable to win a battle, if the situation at the front for them became complicated”.
	p The victory near Moscow attracted enormous attention around the world. Of course, it was no coincidence that exactly during the fierce fighting near Moscow – on January 1, 1942 the Washington Declaration was signed, which became an important step on the way of establishment of the Atlantic coalition.
	p
		span The first major defeat of the German Wehrmacht during World War II dispelled a notion that it was the army, which knew no defeats.
		i “The myth of the invincibility of the German army in the early forties
		span – recollected G.K. Zhukov –
		i was not an empty phrase. Back then it was indeed the strongest army in the world, better than our army prepared, “hammered” together, trained, well-armed, had a masterful command of weapons and drawn into the war - the victorious war …”.
		span According to the Marshal of the Soviet Union G.K. Zhukov,
		i “...In the battle of Moscow a solid foundation was laid for subsequent defeat of the Fascist Germany…”


.data-images