.data-title 7

.data-description
	div: i …Food cards introduced for livelihood with rather meager rationing. Bread: me (pensioner) get 400 g a day; sugar 1000 g per month; cereals 1000 g per month, oil 200 g per month; fish 500 g per month; meat 600 g per month. All people rushed for monthly rations and since the very first days there were endless tails, but, oddly, bread lines are still enormous. Tails stretch from shop doors all the way along the street all day long. All these days one can see numerous groups of children in the streets being evacuated from Moscow. Many institutions are evacuated too as well as many individuals and families. There are rumors of general evacuation but that is just idle talk. There are notably fewer people in the streets. Only in the opening hours and in the evening as people return home from work there is big commotion, but at day time the streets are rather desolate. As food cards were introduced there appeared shops that sell goods without cards but, gosh, at what prices! Butter 45-50 rubles a kilo; sausages 40-50 rubles a kilo. But such prices are only for foodstuffs which are rationed, the rest are at the old prices: tea 2.50-4 rubles, coffee 12.50…
	p: i From the diary of Nikolai Syreishchikov of 1941-1945.

	p Throughout the war rationing was revised repeatedly. Thus from 16 January 1942 bread ration for the Moscow population was reduced: for workers – to 600g, for white-collars – to 500 g a day.
	p For the purpose of fuel economy the heating season of 1941/42 provided for the temperature +16 ºС for dwelling. Also, for the sake of electricity saving since November the following lighting standards were set: for living premises not more than 3W per 1 square meter of space (i.e., one 40W bulb per room), for kitchens – one 25W bulb. Since January1942 electricity and heating supply of residential houses was terminated. Internal temperatures would fall to 5-7 ºС.
	p Moscow Metro operated for public transport from 5:30 a.m. to 8:00 p.m.

.data-images