.info-window
	h2
		| Центральный музей
		br
		| Великой Отечественной войны
	br
	p
		| Площадь Победы дом 3 строение 1
		br
		| метро Парк Победы
	br
	p
		| Вторник - воскресенье
		| (кроме четверга и пятницы)
		| 10:00–20:00
		| (кассы и вход посетителей до 19:30)
	br
	p
		| Четверг пятница 10:00–20:30 (кассы и вход посетителей до 20:00)
	br
	p
		| Выходной — понедельник
	br
	p
		| Санитарный день — последний понедельник каждого месяца
	br
	p
		div Цена билетов:
		div Полный — ??? р.
		div Льготный — ??? р.